#Listas

In [ ]:
A = ["Seba", "Argentina", 28]
A

In [ ]:
a = [25, 13, 15, 58, 16, 87]

## LLamar elementos dentro de la Lista

In [ ]:
A[0]

## Contar los elementos de la lista: len()

##LLamar elementos con indices negativos

## Cambiamos elementos de la Lista

In [ ]:
A[0]="Diplomatura"
A

['Diplomatura', 'Argentina', 28]

In [ ]:
b="Hola"

b[0]=h #No se puede con una lista de caracteres

## Agregamos elementos a una Lista vacia

In [ ]:
secuencia=[]

for numero in range(-2,3):
  secuencia += [numero]

secuencia

In [ ]:
letras=[]

letras += "PorEjemplo"

letras

## Concatenar listas

In [ ]:
lista=A+a

## Visualizar los indices y sus valores

In [ ]:
for i in range(len(lista)):
    print(f'{i}:{lista[i]}')

# Tupla

Creamos una tupla para clientes

In [ ]:
datos_cliente1=()
datos_cliente1

In [ ]:
datos_cliente1=()
len(datos_cliente1)

## Añadir elementos a la **Tupla**

In [ ]:
datos_cliente="Sebastian","M","28"

## LLamar elementos dentro de la Lista

In [ ]:
datos_cliente[]

## Concatenar Tuplas

In [ ]:
datos_cliente= ("Sebastian","M",28)

complemento=("Noviembre",1995)

datos_c1 = datos_cliente + complemento

datos_c1

## Acceder a cualquier secuencia de elementos, asignando cada elemento de la secuencia con una variable separada por comas

In [ ]:
nombre,sexo,edad=datos_cliente

nombre

'Sebastian'

## Visualizar los indices y sus valores

- La función enumerate() en Python se utiliza para agregar un contador a un iterable (como una lista, tupla, cadena, etc.) y generar una secuencia de pares (índice, valor) para cada elemento en el iterable.

- La función list() en Python se utiliza para crear una lista a partir de un iterable (como una tupla, un rango, una cadena, etc.) o para convertir otro tipo de datos en una lista.

In [ ]:
estudiantes =["Sebastian","Diego","Daiana","Pablo"]

list(enumerate(estudiantes))

- La función tuple() en Python se utiliza para crear una tupla a partir de un iterable (como una lista, una cadena, un conjunto, etc.) o para convertir otro tipo de datos en una tupla.

In [ ]:
estudiantes =["Sebastian","Diego","Daiana","Pablo"]

tuple(enumerate(estudiantes))

((0, 'Sebastian'), (1, 'Diego'), (2, 'Daiana'), (3, 'Pablo'))

## Cambiar elementos de una Tupla - **TypeError**

In [ ]:
mi_tupla = (1, 2, 3)
mi_tupla[0] = 10  # Intentar cambiar el primer elemento de la tupla

# Lista VS Tupla

In [ ]:

mi_lista = [1, 2, 3, 4, 5]

mi_lista[0] = 10

print("Lista modificada:", mi_lista)

In [ ]:
mi_tupla = (1, 2, 3, 4, 5)

mi_tupla[0]=10

print("Lista modificada:", mi_tupla)

# Separando Secuencias

Creamos una lista de numeros pares hasta 20

In [ ]:
numeros_pares = [i for i in range(2, 21, 2)]
print(numeros_pares)

Seleccionamos los elementos con indice 3 al 5, sin incluir este uiltimo

In [ ]:
numeros_pares[3:5]

Seleccionamos los elementos con indice 0 al 4, sin incluir este uiltimo

In [ ]:
numeros_pares[:4]

Seleccionamos los elementos con indice mayores o iguales a  4

In [ ]:
numeros_pares[4:]

Secuencia completa

In [ ]:
numeros_pares[:]

Damos una secuencia con saltos de 3 en 3

In [ ]:
numeros_pares[::3]

Cambiamos los tres primeros valores

In [ ]:
numeros_pares

In [ ]:
numeros_pares[0:3]=["dos", "cuatro", "seis"]

numeros_pares

Eliminamos el valor "8"

In [ ]:
numeros_pares[3:4]= []

numeros_pares

Creamos una lista del 1 al 10

In [ ]:
lista_1=[i for i in range(1,11)]

lista_1

Eliminar elementos utilizando la sentencia del()

In [ ]:
del lista_1[0:5]

lista_1

Borramos la lista completa

In [ ]:
del lista_1[:]

lista_1

# Ordenar Listas

sort() es un método en Python que se utiliza para ordenar elementos en una lista de forma ascendente por defecto, o de acuerdo a una función de comparación personalizada.

In [ ]:
edades=[95,38,15,75,25,56,14,7,5,53]

In [ ]:
edades.sort() #Por defecto orden ascendente - reverse=False

edades

Ahora queremos ordenar de forma descendent

In [ ]:
edades.sort(reverse=True)

edades

sorted() es una función en Python que se utiliza para ordenar elementos en una lista y devolver una nueva lista ordenada sin modificar la lista original. A diferencia del método sort() que ordena la lista in situ, sorted() devuelve una nueva lista ordenada, dejando la lista original intacta.

In [ ]:
edades_ascendente = sorted(edades)

edades_ascendente

Tambien podemos ordenar tuplas

In [ ]:
estudiantes=("Beto", "Carlos", "Ana")

estud_ordenados= sorted(estudiantes)

estud_ordenados

Búsqueda a través del índice de los elementos de una lista o una tupla.

In [ ]:
edad = [65, 12, 19, 80, 36, 28, 16, 18, 36, 16, 45, 32, 36, 59]
edad.index(45)

In [ ]:
edad.index(43)

Verificar si algún valor está en la lista es con el comando in

In [ ]:
56 in edad

Insertar elemenos en una lista - Funcion insert()

In [ ]:
vegetales = ["Espinaca","Apio"]
vegetales.insert(0,"Lechuga")
vegetales

Para agregar al final de la lista - Funcion append

In [ ]:
vegetales.append("Esparrago")
vegetales

Para agregar mas elementos - Comando extend()

In [ ]:
precio=(10,15,8,30)

vegetales.extend(precio)

vegetales

#Equivalente a concatenar dos listas

Dejamos vacia la Lista

In [ ]:
vegetales.clear()
vegetales

Contamos la cantidad de veces que aparecen elementos dentro de una lista

In [ ]:
edades = [15, 21, 16, 19, 20, 16, 19, 15, 21, 17, 18, 24, 20, 24, 21, 19, 18, 16, 19, 16]
for edad in range(15, 25):
    print(f'La edad {edad} se repite {edades.count(edad)} veces')

Copiamos una lista

In [ ]:
vegetales=['Lechuga', 'Espinaca', 'Apio', 'Esparrago', 'Esparrago']
vegetales

In [ ]:
copia_vegetales = vegetales.copy()

copia_vegetales

# Listas Multidimensionales

In [ ]:
# Matriz de calificaciones
calificaciones = [
    [85, 90, 88],  # Matemáticas
    [78, 85, 80],  # Ciencias
    [92, 88, 95]   # Historia
]

# Imprimir la matriz completa
print("Matriz de Calificaciones:")
for fila in calificaciones:
    print(fila)

In [ ]:
# Acceder a una calificación específica
calificacion_ciencias_2 = calificaciones[1][1]
print("La segunda calificación en Ciencias es:", calificacion_ciencias_2)

In [ ]:
# Modificar una calificación
calificaciones[2][1] = 90  # Cambiar la segunda calificación en Historia a 90
print("Matriz de Calificaciones después de la modificación:")
for fila in calificaciones:
    print(fila)

In [ ]:
# Calcular el promedio de calificaciones por materia
promedios = []
for fila in calificaciones:
    promedio = sum(fila) / len(fila)
    promedios.append(promedio)

print("Promedios de Calificaciones por Materia:", promedios)